@layer kitBtn {
  .kitBtn {
    background: var(--primaryColor);
    border-color: var(--primaryColor);
    color: #fff;
    margin: 5px;
    font-size: var(--fz18);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    padding: 4px 10px 3px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    line-height: 1.2;
    position: relative;
    text-decoration: none;
    cursor: pointer;
  }
  @media screen and (max-width: 1000px) {
    .kitBtn {
      font-size: 1rem;
    }
  }
  .kitBtn:disabled:hover, .kitBtn:disabled:active, .kitBtn:disabled {
    color: #fff !important;
    cursor: not-allowed;
    border: 1px solid #b4b4b4 !important;
    background: #cacaca !important;
  }
  .kitBtn.noHover {
    pointer-events: none;
  }
  .kitBtn i.kitIcon {
    margin-top: -1px;
    margin-right: 4px;
  }
  .kitBtn.kitBtn_right i.kitIcon {
    margin-left: 4px;
    margin-left: 0;
    order: 3;
  }
  .kitBtn.kitBtn_arrow {
    padding: 4px 35px 3px 8px;
  }
  .kitBtn.kitBtn_arrow::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    right: 12px;
    border-style: solid;
    border-width: 2px;
    border-width: 0 2px 2px 0;
    top: 50%;
    transform: translateY(-80%) rotate(45deg);
    border-color: #fff;
  }
  .kitBtn.kitBtn_top {
    flex-direction: column;
    height: auto;
    aspect-ratio: 1/1;
  }
  .kitBtn.kitBtn_top i {
    width: 40px;
    aspect-ratio: 1/1;
    margin-bottom: 5px;
  }
  .kitBtn.kitBtn_top i img {
    width: 100%;
  }
  .kitBtn.kitBtn_icon {
    padding: 0 !important;
    aspect-ratio: 1/1;
  }
  .kitBtn.kitBtn_icon i {
    margin: 0 !important;
  }
  .kitBtn.kitBtn_icon_s i {
    width: 16px !important;
    height: 16px !important;
  }
  .kitBtn.kitBtn_icon_s img {
    left: -42px;
    filter: drop-shadow(42px 0 #fff) !important;
  }
  .kitBtn.kitBtn_icon_l i {
    width: 40px !important;
    height: 40px !important;
  }
  .kitBtn.kitBtn_icon_l img {
    left: -42px;
    filter: drop-shadow(42px 0 #fff) !important;
  }
  .kitBtn:hover, .kitBtn:active, .kitBtn.active {
    border-color: var(--primaryColor2);
    background: var(--primaryColor2);
  }
  .kitBtn.kitBtn_w {
    font-weight: 400;
    color: var(--textColor);
    background: #fff;
    border-color: #999;
  }
  .kitBtn.kitBtn_w:hover, .kitBtn.kitBtn_w:active, .kitBtn.kitBtn_w.active {
    color: var(--primaryColor2);
    border-color: var(--primaryColor2);
    background: #fff;
  }
  .kitBtn.kitBtn_w:hover .kitIcon img, .kitBtn.kitBtn_w:active .kitIcon img, .kitBtn.kitBtn_w.active .kitIcon img {
    filter: drop-shadow(26px 0 var(--primaryColor2));
  }
  .kitBtn.kitBtn_w.kitBtn_arrow::before {
    border-color: var(--textColor);
  }
  .kitBtn.kitBtn_w i.kitIcon img {
    filter: drop-shadow(26px 0 var(--grayColor4));
  }
  .kitBtn.kitBtn_gray {
    font-weight: 400;
    color: #fff;
    background: var(--grayColor6);
    border-color: var(--grayColor6);
  }
  .kitBtn.kitBtn_gray:hover, .kitBtn.kitBtn_gray:active, .kitBtn.kitBtn_gray.active {
    background: var(--grayColor7);
  }
  .kitBtn.kitBtn_gray.kitBtn_arrow::before {
    border-color: #fff;
  }
  .kitBtn.kitBtn_gray i.kitIcon img {
    filter: drop-shadow(26px 0 #fff);
  }
  .kitBtn.kitBtn_darkGray {
    font-weight: 400;
    color: #fff;
    background: rgba(0, 0, 0, 0.75);
    border-color: rgba(0, 0, 0, 0.75);
  }
  .kitBtn.kitBtn_darkGray:hover, .kitBtn.kitBtn_darkGray:active, .kitBtn.kitBtn_darkGray.active {
    background: var(--grayColor7);
  }
  .kitBtn.kitBtn_darkGray.kitBtn_arrow::before {
    border-color: #fff;
  }
  .kitBtn.kitBtn_darkGray i.kitIcon img {
    filter: drop-shadow(26px 0 #fff);
  }
  .kitBtn.kitBtn_t {
    font-weight: 400;
    color: #fff;
    background: transparent;
    border-color: transparent;
  }
  .kitBtn.kitBtn_t:hover, .kitBtn.kitBtn_t:active, .kitBtn.kitBtn_t.active {
    color: #fff;
    background: var(--primaryColor);
  }
  .kitBtn.kitBtn_t.kitBtn_arrow::before {
    border-color: #fff;
  }
  .kitBtn.kitBtn_t i.kitIcon img {
    filter: drop-shadow(26px 0 #fff);
  }
  .kitBtn.kitBtn_t:disabled:hover, .kitBtn.kitBtn_t:disabled:active, .kitBtn.kitBtn_t:disabled {
    color: var(--grayColor7) !important;
    cursor: not-allowed;
    border: transparent !important;
    background: transparent !important;
  }
  .kitBtn.kitBtn_t:disabled:hover i.kitIcon img, .kitBtn.kitBtn_t:disabled:active i.kitIcon img, .kitBtn.kitBtn_t:disabled i.kitIcon img {
    filter: drop-shadow(26px 0 var(--grayColor7));
  }
  .kitBtn.kitBtn_m {
    height: 32px;
    font-size: 1rem;
  }
  .kitBtn.kitBtn_m.kitBtn_right i.kitIcon {
    margin: 0 0 0 3px;
  }
  .kitBtn.kitBtn_m.kitBtn_arrow {
    padding: 4px 25px 3px 8px;
  }
  .kitBtn.kitBtn_m.kitBtn_arrow::before {
    width: 4px;
    height: 4px;
    top: 50%;
    right: 10px;
    transform: translateY(-80%) rotate(45deg);
  }
  .kitBtn.kitBtn_m i.kitIcon {
    margin: -1px 3px 0 0;
  }
  .kitBtn.kitBtn_s {
    height: 24px;
    font-size: var(--fz12);
    padding: 4px 6px 3px;
  }
  .kitBtn.kitBtn_s.kitBtn_right i.kitIcon {
    margin: 0 0 0 3px;
  }
  .kitBtn.kitBtn_s.kitBtn_arrow {
    padding: 2px 20px 2px 6px;
  }
  .kitBtn.kitBtn_s.kitBtn_arrow::before {
    width: 4px;
    height: 4px;
    top: 50%;
    right: 10px;
    border-width: 0 1px 1px 0;
    transform: translateY(-80%) rotate(45deg);
  }
  .kitBtn.kitBtn_s i.kitIcon {
    width: 16px;
    margin: -1px 3px 0 0;
  }
  .kitBtn.kitBtn_full {
    max-width: none;
    width: 100%;
    aspect-ratio: unset !important;
  }
  .kitBtn.kitBtn_full.kitBtn_arrow {
    align-items: center;
    padding: 4px 8px 3px 8px;
  }
  .kitBtn.kitBtn_full.kitBtn_arrow::before {
    position: relative !important;
    order: 3;
    margin-left: 25px;
    top: 0;
    transform: rotate(45deg);
  }
  .kitBtn.kitBtn_radius {
    padding: 4px 12px 3px;
    border-radius: 25px;
  }
  .kitBtn.kitBtn_radius.kitBtn_icon {
    padding: 4px;
  }
  .kitBtn.kitBtn_radius.kitBtn_arrow {
    padding: 4px 32px 3px 12px;
  }
  .kitBtn.kitBtn_radius.kitBtn_arrow::before {
    right: 15px;
  }
  .kitSelect {
    position: relative;
    margin: 5px;
  }
  .kitSelect::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    right: 12px;
    border-style: solid;
    border-width: 2px;
    border-width: 0 2px 2px 0;
    top: 50%;
    transform: translateY(-80%) rotate(45deg);
    border-color: #fff;
  }
  .kitSelect select {
    width: 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 6px 35px 5px 8px;
    height: 42px;
    background: var(--primaryColor) !important;
    border-color: var(--primaryColor);
    border-radius: 3px;
    margin: 0;
    color: #fff !important;
    box-shadow: none;
  }
  .kitSelect select::-ms-expand {
    display: none;
  }
  .kitSelect select:disabled:hover, .kitSelect select:disabled:active, .kitSelect select:disabled {
    color: #fff !important;
    cursor: not-allowed;
    border: 1px solid #b4b4b4 !important;
    background: #cacaca !important;
  }
  .kitSelect.kitSelect_icon select {
    padding-left: 40px;
  }
  .kitSelect.kitSelect_icon .kitIcon {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
} /*# sourceMappingURL=kitButton.css.map */