@layer kitBtn {
  .kitBtn {
    background: var(--primaryColor);
    border-color: var(--primaryColor);
    color: #fff;
    margin: 5px;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 42px;
    padding: 4px 8px 3px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    line-height: 1.2;
    position: relative;
    cursor: pointer;
  }
  @media screen and (max-width: 1000px) {
    .kitBtn {
      font-size: 1rem;
    }
  }
  .kitBtn:disabled:active, .kitBtn:disabled {
    cursor: not-allowed;
    border: 1px solid #b4b4b4;
    background: #cacaca;
  }
  .kitBtn i.kitIcon {
    margin: -1px 5px 0 0;
  }
  .kitBtn.kitBtn_right i.kitIcon {
    margin: 0 0 0 4px;
    order: 3;
  }
  .kitBtn.kitBtn_arrow {
    padding: 4px 35px 3px 10px;
  }
  .kitBtn.kitBtn_arrow::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    right: 12px;
    border-style: solid;
    border-width: 2px;
    border-width: 0 2px 2px 0;
    top: 50%;
    transform: translateY(-80%) rotate(45deg);
  }
  .kitBtn.kitBtn_top {
    flex-direction: column;
    aspect-ratio: 1/1;
  }
  .kitBtn.kitBtn_top i {
    width: 40px;
    aspect-ratio: 1/1;
    margin-bottom: 5px;
  }
  .kitBtn.kitBtn_icon {
    padding: 0;
    aspect-ratio: 1/1;
  }
  .kitBtn.kitBtn_icon i {
    margin: 0 !important;
  }
  .kitBtn:active {
    border-color: var(--primaryColor2);
    background: var(--primaryColor2);
  }
  .kitBtn.kitBtn_arrow::before {
    border-color: #fff;
  }
  .kitBtn_w {
    font-weight: 400;
    color: var(--textColor);
    background: #fff;
    border-color: #999;
    margin: 5px;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 42px;
    padding: 4px 8px 3px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    line-height: 1.2;
    position: relative;
    cursor: pointer;
  }
  @media screen and (max-width: 1000px) {
    .kitBtn_w {
      font-size: 1rem;
    }
  }
  .kitBtn_w:disabled:active, .kitBtn_w:disabled {
    cursor: not-allowed;
    border: 1px solid #b4b4b4;
    background: #cacaca;
  }
  .kitBtn_w i.kitIcon {
    margin: -1px 5px 0 0;
  }
  .kitBtn_w.kitBtn_right i.kitIcon {
    margin: 0 0 0 4px;
    order: 3;
  }
  .kitBtn_w.kitBtn_arrow {
    padding: 4px 35px 3px 10px;
  }
  .kitBtn_w.kitBtn_arrow::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    right: 12px;
    border-style: solid;
    border-width: 2px;
    border-width: 0 2px 2px 0;
    top: 50%;
    transform: translateY(-80%) rotate(45deg);
  }
  .kitBtn_w.kitBtn_top {
    flex-direction: column;
    aspect-ratio: 1/1;
  }
  .kitBtn_w.kitBtn_top i {
    width: 40px;
    aspect-ratio: 1/1;
    margin-bottom: 5px;
  }
  .kitBtn_w.kitBtn_icon {
    padding: 0;
    aspect-ratio: 1/1;
  }
  .kitBtn_w.kitBtn_icon i {
    margin: 0 !important;
  }
  .kitBtn_w:active {
    color: var(--primaryColor2);
    border-color: var(--primaryColor2);
  }
  .kitBtn_w i.kitIcon img {
    filter: drop-shadow(26px 0 var(--grayColor4));
  }
  .kitBtn_w.kitBtn_arrow::before {
    border-color: var(--textColor);
  }
  .kitBtn_m {
    min-height: 32px;
    font-size: 0.875rem;
  }
  .kitBtn_m i.kitIcon {
    width: 16px;
    margin: -1px 3px 0 0;
  }
  .kitBtn_m.kitBtn_right i.kitIcon {
    margin: 0 0 0 3px;
  }
  .kitBtn_m.kitBtn_arrow {
    padding: 5px 25px 5px 8px;
  }
  .kitBtn_m.kitBtn_arrow::before {
    width: 4px;
    height: 4px;
    top: 50%;
    right: 10px;
    transform: translateY(-80%) rotate(45deg);
  }
  .kitBtn_s {
    min-height: 20px;
    font-size: 0.75rem;
  }
  .kitBtn_s i.kitIcon {
    width: 12px;
    margin: -1px 3px 0 0;
  }
  .kitBtn_s.kitBtn_right i.kitIcon {
    margin: 0 0 0 3px;
  }
  .kitBtn_s.kitBtn_arrow {
    padding: 5px 25px 5px 8px;
  }
  .kitBtn_s.kitBtn_arrow::before {
    width: 4px;
    height: 4px;
    top: 50%;
    right: 10px;
    border-width: 0 1px 1px 0;
    transform: translateY(-80%) rotate(45deg);
  }
}/*# sourceMappingURL=kitButton.css.map */