input[type=radio],
input[type=checkbox] {
  margin: 0 0.35rem;
  width: 1.25rem;
  height: 1.25rem;
  accent-color: var(--primaryColor);
}
input[type=radio]:first-child,
input[type=checkbox]:first-child {
  margin-left: 0;
}

input,
select {
  height: 42px;
}

input.alert,
textarea.alert,
select.alert {
  box-shadow: 0 0 0 3px #f46a6a;
  border: transparent;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: not-allowed;
  background: #eee;
}

html input[readonly] {
  cursor: not-allowed;
  background: #eee;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.help, .helpAlert {
  color: #222;
  font-size: 80%;
  padding: 0.25rem 0;
}

.helpAlert {
  color: #f46a6a;
}

select {
  padding-right: 2rem;
  background: #fff url(../images/icon/icon_select_arrow.svg) no-repeat right 4px center;
  background-size: 1.25rem;
}
select option {
  outline: none;
  border: none;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.kitMessage,
.kitMessage_success {
  padding: 10px 45px 10px 115px;
  border-radius: 4px;
  margin: 10px 0;
  min-height: 80px;
  display: flex;
  align-items: center;
  position: relative;
}
.kitMessage p,
.kitMessage_success p {
  margin: 0;
}
.kitMessage a,
.kitMessage_success a {
  display: inline-block;
  padding: 0 4px;
  text-decoration: underline;
  color: var(--primaryColor);
}
.kitMessage a:hover, .kitMessage a:focus,
.kitMessage_success a:hover,
.kitMessage_success a:focus {
  text-decoration: none;
  color: var(--primaryColor2);
}
.kitMessage i.kitIcon,
.kitMessage_success i.kitIcon {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 45px;
  top: calc(50% - 12px);
}

.kitMessage {
  background: rgb(255, 251, 230);
  border: 1px solid rgb(255, 197, 61);
}
.kitMessage i.kitIcon img {
  filter: drop-shadow(26px 0 #FFC53D);
}

.kitMessage_success {
  background: rgb(246, 255, 237);
  border: 1px solid rgb(183, 235, 143);
}
.kitMessage_success i.kitIcon img {
  filter: drop-shadow(26px 0 #52C41A);
}

@layer kitForm {
  [class^=i_]:before {
    content: "";
    display: inline-block;
    height: 1em;
    width: 1em;
    vertical-align: middle;
  }
  .input_i {
    position: relative;
    width: 100%;
  }
  .input_i i {
    position: absolute;
    padding: 0.2em 0;
    left: 0.5em;
    top: 0.6em;
    background: none;
    border-right: 1px solid #ccc;
    width: 2.4em;
    pointer-events: none;
  }
  .input_i i:before {
    width: 2.2em;
    text-align: center;
  }
  .input_i i + input {
    padding: 0.5em 0.5em 0.5em 3.5em;
  }
  .input_i input {
    padding: 0.5em 3em 0.5em 0.5em;
  }
  .input_i input + i {
    border-right: none;
    border-left: 1px solid #ccc;
    right: 0.5em;
    left: auto;
  }
  .input_i button {
    margin: 0 !important;
  }
  .password {
    padding: 0.5em 3em 0.5em 3.5em !important;
  }
  .passwordEye {
    padding: 0;
    margin: 0;
    position: absolute;
    border: none;
    color: transparent;
    width: 20px !important;
    height: 20px !important;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
  .passwordEye::before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    background: url("../images/icon/icon_eye_c_dark.svg") center no-repeat;
  }
  .passwordEye.hide::before {
    background: url("../images/icon/icon_eye_dark.svg") center no-repeat;
  }
  .i_man_dark:before {
    background: url(../images/icon/icon_man_dark.svg) center center no-repeat;
    background-size: contain;
    margin-top: -0.1em;
    margin-bottom: 0.1em;
  }
  .i_lock_dark:before {
    background: url(../images/icon/icon_lock_dark.svg) center center no-repeat;
    background-size: contain;
    margin-top: -0.1em;
    margin-bottom: 0.1em;
  }
  .kitForm .formGrp .formTitle {
    color: #222;
    font-weight: 500;
  }
  .kitForm .formGrp .formContent {
    width: 100%;
    padding: 0.5rem 0;
  }
  .kitForm .formGrp .searchGrp {
    position: relative;
  }
  .kitForm .formGrp .searchGrp input[type=text] {
    width: 100%;
    padding-right: 120px;
  }
  .kitForm .formGrp .searchGrp input[type=submit],
  .kitForm .formGrp .searchGrp button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 90px;
    height: 42px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
  .kitForm .formGrp .searchGrp.withIcon input[type=submit],
  .kitForm .formGrp .searchGrp.withIcon button {
    color: transparent;
  }
  .kitForm .formGrp .searchGrp.withIcon button {
    margin: 0.3rem 0 0 0;
  }
  .kitForm.setInline {
    display: flex;
    flex-wrap: wrap;
  }
  .kitForm.setInline input,
  .kitForm.setInline button,
  .kitForm.setInline select {
    width: auto;
  }
  .kitForm.setInline .formGrp,
  .kitForm.setInline .btnGrp,
  .kitForm.setInline .checkGrp {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
  }
  .kitForm.setInline .formGrp {
    margin: 0;
    margin-right: 0.75rem;
    border-bottom: none;
  }
  .kitForm.setInline .formGrp .formContent {
    width: auto;
  }
  .kitForm.setInline .btnGrp {
    width: auto;
    padding: 0;
  }
  .kitForm.setInline .checkGrp {
    margin: 1rem 0.25rem;
  }
  .kitForm .btnGrp {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .kitForm button {
    margin: 0.8rem 0.25rem;
  }
  .kitForm .checkGrp,
  .kitForm .radioGrp {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0.25rem;
  }
  .kitForm .checkGrp input[type=radio],
  .kitForm .checkGrp input[type=checkbox],
  .kitForm .radioGrp input[type=radio],
  .kitForm .radioGrp input[type=checkbox] {
    margin: 0 0.35rem;
    width: 1.25rem;
    height: 1.25rem;
  }
  .kitForm .checkGrp input[type=radio]:first-child,
  .kitForm .checkGrp input[type=checkbox]:first-child,
  .kitForm .radioGrp input[type=radio]:first-child,
  .kitForm .radioGrp input[type=checkbox]:first-child {
    margin-left: 0;
  }
  .kitForm .checkGrp label,
  .kitForm .radioGrp label {
    margin: 0.25rem 1rem 0.25rem 0;
    display: flex;
    align-items: center;
  }
  .kitForm .checkGrp.setGrid label,
  .kitForm .radioGrp.setGrid label {
    flex: 1 1 100%;
  }
  .kitForm .checkGrp.setGrid .innerGrp,
  .kitForm .radioGrp.setGrid .innerGrp {
    flex: 1 1 100%;
    padding: 0.5rem 0 0 3rem;
    background: #f5f5f5;
  }
  .kitForm .checkGrp.setGrid .innerGrp .checkGrp label,
  .kitForm .checkGrp.setGrid .innerGrp .radioGrp label,
  .kitForm .radioGrp.setGrid .innerGrp .checkGrp label,
  .kitForm .radioGrp.setGrid .innerGrp .radioGrp label {
    flex: 0 1 auto;
  }
  .kitForm input[type=text],
  .kitForm input[type=password],
  .kitForm select,
  .kitForm textarea {
    width: 100%;
  }
  .kitForm a {
    text-decoration: underline;
    color: var(--primaryColor);
  }
  .kitForm a:hover, .kitForm a:focus {
    text-decoration: none;
    color: var(--primaryColor2);
  }
  .necessary {
    color: #f46a6a;
    text-decoration: none;
    padding: 0.45rem;
    padding-left: 0;
  }
  .col_48,
  .col_84,
  .col_66,
  .col_444 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .col_48 input,
  .col_48 select,
  .col_84 input,
  .col_84 select,
  .col_66 input,
  .col_66 select,
  .col_444 input,
  .col_444 select {
    flex: 0 1 auto;
  }
  .col_48 input:nth-child(1),
  .col_48 select:nth-child(1) {
    flex-basis: calc(30% - 0.3rem);
  }
  .col_48 input:nth-child(2),
  .col_48 select:nth-child(2) {
    flex-basis: calc(70% - 0.3rem);
  }
  .col_84 input:nth-child(1),
  .col_84 select:nth-child(1) {
    flex-basis: calc(70% - 0.3rem);
  }
  .col_84 input:nth-child(2),
  .col_84 select:nth-child(2) {
    flex-basis: calc(30% - 0.3rem);
  }
  .col_66 input,
  .col_66 select {
    flex-basis: calc(50% - 0.3rem);
  }
  .col_444 input,
  .col_444 select {
    flex-basis: calc(33.333% - 0.4rem);
  }
  .multiInput {
    padding-right: 2rem;
    background: #fff url(../images/icon/icon_select_arrow.svg) no-repeat right 4px center;
    background-size: 1.25rem;
  }
  .inlineGrp,
  .checkedList {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 0;
    flex-wrap: wrap;
  }
  .inlineGrp input,
  .inlineGrp button,
  .inlineGrp select,
  .inlineGrp > div,
  .checkedList input,
  .checkedList button,
  .checkedList select,
  .checkedList > div {
    width: auto;
    margin: 0.1rem 0.25rem;
    height: 42px;
  }
  .inlineGrp input.kitBtn_m,
  .inlineGrp button.kitBtn_m,
  .inlineGrp select.kitBtn_m,
  .inlineGrp > div.kitBtn_m,
  .checkedList input.kitBtn_m,
  .checkedList button.kitBtn_m,
  .checkedList select.kitBtn_m,
  .checkedList > div.kitBtn_m {
    height: 32px;
  }
  .inlineGrp input[type=text], .inlineGrp input[type=password], .inlineGrp select, .inlineGrp textarea,
  .checkedList input[type=text],
  .checkedList input[type=password],
  .checkedList select,
  .checkedList textarea {
    width: auto !important;
  }
  .inlineGrp p,
  .checkedList p {
    margin: 0;
  }
  .inlineGrp .checkGrp label,
  .inlineGrp .radioGrp label,
  .checkedList .checkGrp label,
  .checkedList .radioGrp label {
    margin: 0 1rem 0 0;
  }
  .inlineGrp .checkGrp,
  .inlineGrp .radioGrp,
  .inlineGrp .inlineTitle,
  .checkedList .checkGrp,
  .checkedList .radioGrp,
  .checkedList .inlineTitle {
    display: inline-flex;
  }
  .inlineGrp .inlineTitle,
  .checkedList .inlineTitle {
    display: inline-flex;
    align-items: center;
    height: 42px;
    font-weight: 500;
    margin-right: 1rem;
  }
  .inlineGrp .formGrp,
  .checkedList .formGrp {
    border-bottom: none;
    display: flex;
  }
  .inlineGrp .formGrp .formTitle,
  .checkedList .formGrp .formTitle {
    flex: 1 0 auto;
    line-height: 42px;
  }
  .inlineGrp .formGrp .formContent,
  .checkedList .formGrp .formContent {
    padding: 0;
  }
  .inlineGrp .formGrp .formContent .input_i button,
  .checkedList .formGrp .formContent .input_i button {
    min-height: auto;
    width: 20px;
    font-size: 0;
  }
  .inlineGrp .formGrp .formContent input,
  .inlineGrp .formGrp .formContent select,
  .checkedList .formGrp .formContent input,
  .checkedList .formGrp .formContent select {
    margin: 0;
  }
  .inlineGrp ul,
  .checkedList ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .inlineGrp ul li,
  .checkedList ul li {
    display: inline-flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
    background: #f5f5f5;
  }
  .inlineGrp ul li button,
  .checkedList ul li button {
    margin: 0 0.25rem;
  }
  .inlineBox {
    display: inline-flex;
    align-self: center;
    margin: 0 0.75rem;
  }
  .inlineBox input, .inlineBox select, .inlineBox button {
    margin: 0 0.5rem;
  }
  input,
  textarea,
  select {
    font-size: 1em;
    border: 1px solid #ccc;
    padding: 0.5em;
    margin: 0.3em 0;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 4px;
    transition: all 0.3s ease-out;
  }
  input,
  select {
    height: 42px;
  }
  input[type=text],
  input[type=password],
  select,
  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: 0 0 0 3px transparent;
    background: #fff;
    color: #222;
  }
  input[type=text]:hover,
  input[type=password]:hover,
  select:hover,
  textarea:hover {
    box-shadow: 0 0 0 3px rgba(43, 144, 220, 0.5);
    border-color: transparent;
  }
  input[type=text]:focus-visible,
  input[type=password]:focus-visible,
  select:focus-visible,
  textarea:focus-visible {
    outline: none;
    box-shadow: 0px 0px 0px 3px rgb(9, 109, 217);
    border-color: transparent;
  }
}
@layer kitPopup {
  .kitPopup {
    height: 100vh;
    position: relative;
    padding-top: 77px;
    background: #fff;
  }
  .kitPopup .kitPopup_head,
  .kitPopup .kitPopup_footer {
    position: absolute;
    width: 100%;
  }
  .kitPopup .kitPopup_head,
  .kitPopup .kitPopup_content,
  .kitPopup .kitPopup_footer {
    padding: 0.75rem 2rem;
  }
  .kitPopup .kitPopup_head {
    border-bottom: 1px solid var(--grayColor4);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    top: 0;
  }
  .kitPopup .kitPopup_head .title {
    display: flex;
    align-items: center;
    padding-right: 1rem;
  }
  .kitPopup .kitPopup_content {
    height: calc(100% - 80px);
    overflow-y: scroll;
  }
  .kitPopup .kitPopup_footer {
    bottom: 0;
    border-top: 1px solid var(--grayColor4);
  }
  .kitPopup .kitPopup_footer .bottomBtnBox {
    justify-content: flex-end !important;
  }
}/*# sourceMappingURL=kitForm.css.map */