.kitSteps_block {
  background-color: #fff;
  border-radius: 5px;
  padding: 80px 30px 20px;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
@media (max-width: 768px) {
  .kitSteps_block {
    padding: 30px 20px 30px 70px;
    box-sizing: border-box;
  }
}
.kitSteps_block ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
  counter-reset: number01;
}
@media (max-width: 768px) {
  .kitSteps_block ul {
    display: block;
  }
}
.kitSteps_block ul li {
  flex: 1 1 auto;
  flex-basis: 21%;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  box-sizing: border-box;
  min-height: 80px;
}
@media (max-width: 768px) {
  .kitSteps_block ul li {
    flex-basis: 100%;
  }
}
.kitSteps_block ul li div {
  border-radius: 5px;
  line-height: 1.2em;
  padding: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  justify-content: center;
  font-size: var(--fz20);
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .kitSteps_block ul li div {
    display: none;
  }
}
.kitSteps_block ul li:before {
  counter-increment: number01;
  content: counter(number01, decimal);
  width: 50px;
  height: 50px;
  font-size: var(--fz20);
  border-radius: 50%;
  background-color: #959595;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #fff;
  left: 50%;
  top: -40px;
  z-index: 3;
  margin-left: -25px;
}
@media (max-width: 768px) {
  .kitSteps_block ul li:before {
    margin-left: -50px;
    left: 0;
    top: auto;
  }
}
.kitSteps_block ul li:after {
  content: "";
  width: 100%;
  height: 6px;
  background-color: #bbb;
  position: absolute;
  left: auto;
  right: 0;
  top: -19px;
  bottom: 0;
  z-index: 2;
}
@media (max-width: 768px) {
  .kitSteps_block ul li:after {
    width: 6px;
    height: 100%;
    top: 0;
    bottom: 0;
    left: -28px;
    right: auto;
  }
}
.kitSteps_block ul li.active:before {
  background-color: var(--primaryColor);
}
.kitSteps_block ul li.active:after {
  background: #bbb;
}
.kitSteps_block ul li.pass:before {
  background-color: var(--successColor);
}
.kitSteps_block ul li.pass:after {
  background: #bbb;
}
.kitSteps_block ul li:first-child:after {
  content: "";
  background: #bbb;
  background: linear-gradient(-90deg, rgb(187, 187, 187) 0%, rgb(187, 187, 187) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
}
@media (max-width: 768px) {
  .kitSteps_block ul li:first-child:after {
    width: 6px;
    background: rgb(187, 187, 187);
    background: linear-gradient(0deg, rgb(187, 187, 187) 0%, rgb(187, 187, 187) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
  }
}
.kitSteps_block ul li:first-child.pass:after {
  background: #bbb;
  background: linear-gradient(-90deg, #bbb 0%, #bbb 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
}
@media (max-width: 768px) {
  .kitSteps_block ul li:first-child.pass:after {
    background: #bbb;
    background: linear-gradient(0deg, #bbb 0%, #bbb 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
  }
}
.kitSteps_block ul li:last-child:after {
  background: rgb(187, 187, 187);
  background: linear-gradient(90deg, rgb(187, 187, 187) 0%, rgb(187, 187, 187) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
}
.kitSteps_block ul li:last-child.active:after {
  background: #bbb;
  background: linear-gradient(90deg, #bbb 0%, #bbb 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
}
@media (max-width: 768px) {
  .kitSteps_block ul li:last-child:after {
    background: rgb(187, 187, 187);
    background: linear-gradient(180deg, rgb(187, 187, 187) 0%, rgb(187, 187, 187) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
  }
  .kitSteps_block ul li:last-child.active:after {
    background: #bbb;
    background: linear-gradient(180deg, #bbb 0%, #bbb 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
  }
}

.kitSteps_Processflow {
  background-color: #fff;
  padding: 2em 2em 1em;
}
.kitSteps_Processflow .kitSteps_Processblock {
  display: flex;
  overflow-x: scroll;
}
.kitSteps_Processflow .kitSteps_Processlist {
  flex: 0 0 auto;
  flex-basis: 150px;
  margin: 0 1em 1em;
  text-align: center;
}
.kitSteps_Processflow .kitSteps_Processlist.pass .kitSteps_title {
  background-color: #959595;
  color: #fff;
}
.kitSteps_Processflow .kitSteps_Processlist.active .kitSteps_title {
  background-color: var(--primaryColor);
  color: #fff;
}
.kitSteps_Processflow .kitSteps_Processlist .kitSteps_title {
  background-color: #d9d9d9;
  color: var(--grayColor6);
  padding: 1.2em 1em;
  font-size: var(--fz20);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5em;
}
.kitSteps_Processflow .kitSteps_Processlist .kitSteps_date {
  display: block;
  margin-bottom: 0.5em;
}
.kitSteps_Processflow .kitSteps_Processlist p {
  padding: 0;
  margin: 0;
  line-height: 1.4;
}/*# sourceMappingURL=kitSteps.css.map */