@import './assects/_normalize';
@import './assects/_base';

:root {
  --primaryColor: #2b90dc;
  --primaryColor2: #096dd9;
  --primaryColor3: #daebf9;
  --primaryColor4: #0161a9;

  --successColor: #52c41a;
  --successColor2: #b7eb8f;
  --successColor3: #f6ffed;
  --errorColor: #ff4d4f;
  --warningColor: #fab97d;
  --informationColor: #fffbe6;
  --grayColor: #fff;
  --grayColor2: #f8fafc;
  --grayColor3: rgba(0, 0, 0, 0.4);
  --grayColor4: rgba(0, 0, 0, 0.5);
  --grayColor5: #2a3042;
  --textColor: rgba(0, 0, 0, 0.85);
  /*font size*/
  --fontSize18: 1.125rem;
  --fontSize20: 1.25rem;
  --fontSize24: 1.5rem;
}
