$red: #f46a6a;
$formTitlePadding: 0.75rem;
$formRadioSpace: 0.35rem;

$colorWord: #222;
$colorGray: #ccc;
$bgGray: #f5f5f5;
$btnRadius: 4px;
$formBoard: 3px;
$formHover: rgba(43, 144, 220, 0.5);
$formFocusVisible: rgba(9, 109, 217, 1);
@mixin formStyle($formColor: $colorWord, $formBorder: $colorGray, $formRadius: $btnRadius) {
  color: $formColor;
  font-size: 1em;
  border: 1px solid $formBorder;
  padding: 0.5em;
  margin: 0.3em 0;
  background: #fff;
  vertical-align: middle;
  box-sizing: border-box;
  border-radius: $formRadius;
  transition: all 0.3s ease-out;
}

@layer kitForm {
  // ---------------------------前面有icon的input------------------//
  [class^='i_'] {
    &:before {
      content: '';
      display: inline-block;
      height: 1em;
      width: 1em;
      vertical-align: middle;
    }
  }
  @mixin hyUiIcon($iconImg) {
    &:before {
      background: url(../images/icon/#{$iconImg}.svg) center center no-repeat;
      background-size: contain;
      margin-top: -0.1em;
      margin-bottom: 0.1em;
    }
  }
  .input_i {
    position: relative;
    width: 100%;
    i {
      position: absolute;
      padding: 0.2em 0;
      left: 0.5em;
      top: 0.6em;
      background: none;
      border-right: 1px solid $colorGray;
      width: 2.4em;
      pointer-events: none;

      &:before {
        width: 2.2em;
        text-align: center;
      }

      & + input {
        padding: 0.5em 0.5em 0.5em 3.5em;
      }
    }

    input {
      padding: 0.5em 3em 0.5em 0.5em;

      & + i {
        border-right: none;
        border-left: 1px solid $colorGray;
        right: 0.5em;
        left: auto;
      }
    }

    button {
      margin: 0 !important;
    }
  }
  .password {
    padding: 0.5em 3em 0.5em 3.5em !important;
  }
  .passwordEye {
    padding: 0;
    margin: 0;
    position: absolute;
    border: none;
    color: transparent;
    width: 20px !important;
    height: 20px !important;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    &::before {
      content: '';
      width: 20px;
      height: 20px;
      display: block;
      background: url('../images/icon/icon_eye_c_dark.svg') center no-repeat;
    }
    &.hide::before {
      background: url('../images/icon/icon_eye_dark.svg') center no-repeat;
    }
  }
  // icon
  @mixin hyUiIcon($iconImg) {
    &:before {
      background: url(../images/icon/#{$iconImg}.svg) center center no-repeat;
      background-size: contain;
      margin-top: -0.1em;
      margin-bottom: 0.1em;
    }
  }
  .i_man_dark {
    @include hyUiIcon('icon_man_dark');
  }
  .i_lock_dark {
    @include hyUiIcon('icon_lock_dark');
  }

  .kitForm {
    // 1：水平滿版
    .formGrp {
      margin: 1.5rem 0;
      border-bottom: solid 1px #ddd;
      &.alert {
        .formContent .help {
          color: $red;
        }
        .formContent {
          input,
          textarea,
          select {
            &.getThis {
              box-shadow: 0 0 0 $formBoard $red;
              border: transparent;
            }
          }
        }
      }
      .formTitle {
        color: #222;
        font-weight: 500;
      }
      .formContent {
        width: 100%;
        padding: 0.5rem 0 1.5rem;
        .help {
          color: #222;
          font-size: 80%;
          padding: 0.25rem 0;
        }
      }
      // 搜尋
      .searchGrp {
        position: relative;
        input[type='text'] {
          width: 100%;
          padding-right: 120px;
        }
        input[type='submit'],
        button {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          width: 90px;
          height: 36px;
          // font-size: 90%;
          position: absolute;
          right: 0;
          z-index: 1;
        }
        &.withIcon {
          input[type='submit'],
          button {
            color: transparent;
            background: deepskyblue;
          }
        }
      }
    }
    // 2：水平inline
    &.setInline {
      // background: pink;
      display: flex;
      flex-wrap: wrap;
      border-bottom: solid 1px #ddd;

      input,
      button,
      select {
        width: auto;
        height: 36px;
      }
      .formGrp,
      .btnGrp,
      .checkGrp {
        // background: pink;
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;
      }
      .formGrp {
        margin: 0;
        margin-right: 0.75rem;
        border-bottom: none;
        .formTitle {
        }
        .formContent {
          width: auto;
        }
      }
      .btnGrp {
        width: auto;
        padding: 0;
      }
      .checkGrp {
        margin: 1rem 0.25rem;
      }
    }
    // 3：垂直滿版
    &.setGrid {
      .formGrp {
        // display: flex;
        // flex-wrap: nowrap;
        // align-items: baseline;
        .formTitle {
          // flex: 0 0 20%;
          // text-align: right;
          // padding-right: $formTitlePadding;
        }
        .formContent {
          // flex: 1 1 auto;
        }
      }
    }

    //---------------------------------------------form setting--------//
    .btnGrp {
      display: flex;
      justify-content: center;
      width: 100%;
      // background: deepskyblue;
    }
    button {
      margin: 0.8rem 0.25rem;
    }
    // .formGrp,
    // .checkGrp,
    // .radioGrp,
    // .btnGrp,
    // .uploadGrp {
    //   display: flex;
    //   align-items: center;
    //   flex-wrap: wrap;
    //   width: 100%;
    //   padding: 0.3em 0;

    //   @include screen('mobile') {
    //     flex-wrap: wrap;
    //   }
    // }
    .checkGrp,
    .radioGrp {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 0.25rem;

      input[type='radio'],
      input[type='checkbox'] {
        margin: 0 $formRadioSpace;
        width: 1.25rem;
        height: 1.25rem;
        &:first-child {
          margin-left: 0;
        }
      }

      label {
        margin: 0.25rem 0.5rem;
        margin-right: 1rem;
        margin-left: 0;
        display: flex;
        align-items: center;
      }

      // 設定垂直
      &.setGrid {
        label {
          flex: 1 1 100%;
        }
        // 第二層項目
        .innerGrp {
          // background: pink;
          flex: 1 1 100%;
          padding: 0.5rem 0 0 1.75rem;
          background: $bgGray;
          .checkGrp,
          .radioGrp {
            label {
              flex: 0 1 auto;
            }
          }
        }
      }

      // label {
      //   position: relative;
      //   z-index: 1;
      //   flex-basis: 100%;
      //   display: flex;
      //   align-items: center;
      //   margin: 4px 0;

      //   input {
      //     &:checked {
      //       & ~ span {
      //         &:after {
      //           position: absolute;
      //           width: 1em;
      //           height: 1em;
      //           border-radius: 50%;
      //           background: #54caff;
      //           content: '';
      //           left: 0.35em;
      //           top: 0.3em;
      //           z-index: -1;
      //           animation: ripple 0.35s linear;
      //         }
      //       }
      //     }
      //   }
      // }

      // radio與check個別行內設定
      // &.formInline {
      //   label {
      //     //display: inline-block;
      //     margin: 0 0.5em 0 0;
      //     flex-basis: auto;
      //     margin-right: 1em;
      //     display: inline-flex;
      //     align-items: center;
      //   }
      // }
    }

    // 一欄多物件
    .inlineGrp {
      // background: pink;
      input,
      button,
      select {
        width: auto;
        height: 36px;
      }
      .checkGrp {
        display: inline-block;
      }
      .radioGrp {
        display: inline-flex;
      }
    }
  }
  //--------------------------------------------- 一般物件 --------//
  .necessary {
    color: $red;
    text-decoration: none;
    padding: 0.45rem;
    padding-left: 0;
  }
  // col
  .col_48,
  .col_84,
  .col_66,
  .col_444 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    input,
    select {
      flex: 0 1 auto;
    }
  }

  .col_48 {
    input,
    select {
      &:nth-child(1) {
        flex-basis: calc(30% - 0.3rem);
      }
      &:nth-child(2) {
        flex-basis: calc(70% - 0.3rem);
      }
    }
  }
  .col_84 {
    input,
    select {
      &:nth-child(1) {
        flex-basis: calc(70% - 0.3rem);
      }
      &:nth-child(2) {
        flex-basis: calc(30% - 0.3rem);
      }
    }
  }
  .col_66 {
    input,
    select {
      flex-basis: calc(50% - 0.3rem);
    }
  }
  .col_444 {
    input,
    select {
      flex-basis: calc(33.333% - 0.4rem);
    }
  }
  //--------------------------------------------- 刁鑽物件 --------//
  // 綜合 select、checkbox、search、btn、list
  .multiInput {
    padding-right: 2rem;
    background: #fff url(../images/icon/icon_select_arrow.svg) no-repeat right 4px center;
    background-size: 1.25rem;
  }
  // 已選項目清單
  .checkedList {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        display: inline-block;
        padding: 4px 8px;
        background: $bgGray;
      }
    }
  }
  //--------------------------------------------- 預設設定 --------//
  input,
  textarea,
  select {
    @include formStyle(); // 預設載入formStyle設定
  }

  input[type='text'],
  input[type='password'],
  select,
  textarea {
    // width: calc(100% - 0.6em);
    width: 100%;
    -webkit-appearance: none; //清除 safari 的預設樣式
    -moz-appearance: none;
    appearance: none;
    box-shadow: 0 0 0 $formBoard transparent;

    &:hover {
      box-shadow: 0 0 0 $formBoard $formHover;
      border-color: transparent;
    }
    &:focus-visible {
      outline: none;
      box-shadow: 0px 0px 0px $formBoard $formFocusVisible;
      border-color: transparent;
    }
  }

  // ----------------------------------------
  button {
    overflow: visible;
  }
  button,
  select {
    text-transform: none;
  }
  button,
  html input[type='button'],
  input[type='reset'],
  input[type='submit'] {
    -webkit-appearance: button;
    cursor: pointer;
  }
  button[disabled],
  html input[disabled] {
    cursor: not-allowed;
    background: #eee;
  }
  html input[readonly] {
    cursor: not-allowed;
    background: #eee;
  }
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  input {
    line-height: normal;
  }
  input[type='checkbox'],
  input[type='radio'] {
    box-sizing: border-box;
    padding: 0;
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    height: auto;
  }
  input[type='search'] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
  }
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  //--------------------------------------------- 下拉選單 --------//
  select {
    padding-right: 2rem;
    background: #fff url(../images/icon/icon_select_arrow.svg) no-repeat right 4px center;
    background-size: 1.25rem;
    option {
      outline: none;
      border: none;
    }
    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }
  }
}
