@import '../assects/import';

@layer kitIcon {
  .kitIcon {
    width: 24px;
    aspect-ratio: 1/1;
    display: block;
    position: relative;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      position: absolute;
      left: -26px;
      filter: drop-shadow(26px 0 #fff);
    }
  }
}
