// 格線系統
$gridColumns: 12 !default; //格線欄位數
$gridGutterWidth: 30px !default; //左右padding
$containerMax: 1200px !default; //container最大寬

@import './_mediaquery';
@import './_gridflex';

//px轉rem 使用方式 rem(px) px直接輸入數字即可
@function rem($n: 16) {
  @return calc($n / 16 * 1rem);
}
